* {
    margin: 0;
    padding: 0;
    font-family: arial,sans-serif;
}

.campo {    
    padding: .375rem .75rem;
    margin-bottom: 6px;    
    font-size: 1rem;    
    line-height: 1.5;
    color: #333;    
    border: 1px solid #ced4da;
    border-radius: .25rem;
    display: block;
    width: 94%;
}

.table {    
    margin-bottom: 1rem;
    color: #212529;
}

.table th {
    text-align: inherit;
}

.table thead th {
    vertical-align: bottom;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.btn {
    display: inline-block;    
    text-align: center;
    vertical-align: middle;    
    border: 1px solid transparent;
    padding: 10px;    
    border-radius: 4px;
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
    cursor: pointer;
    width: 100%;
}

.btnDeletar {
    display: inline-block;    
    text-align: center;
    vertical-align: middle;    
    border: 1px solid transparent;
    padding: 10px;    
    border-radius: 4px;
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
    cursor: pointer;
}

header {
    padding: 40px 60px;
    text-align: center;    
    color: white;
    border-bottom: 20px solid #333;
    border-top: 7px solid #1abecb;
}

header h1{
    color: #fff;
}

main{
    display: flex;    
    justify-content: center;    
}

.box{
    margin-top: 30px;
}

.box h3
{
    text-align: center;
    margin-bottom: 20px;
}

.boxusuario{
    margin-right: 20px;
}

footer{
    bottom: 0;        
    width: 100%;
    background: #f2f2f2;    
    margin-top: 40px;
    height: 40px;
}

.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}

.panel-body {
    padding: 15px;
}